@model IEnumerable<MSP.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Product Maintenance</h1>

<br />

<p>
    <a onclick="showInPopup('@Url.Action("AddOrEdit","Products",null,Context.Request.Scheme)','New Product')" class="btn btn-success text-white"><i class="fa fa-plus"></i>  Add New Product</a> <a href="~/MSP Home/ExcelTemplate.xlsx"><button type="button" margin="200px" class="btn btn-success"><i class="fas fa-download"></i>  Download Template</button></a>
</p>

<br />

<table id="productsTable" class="table-striped table-bordered" style="width:90%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsPerCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitsPerPack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShelfLife)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsPerCase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitsPerPack)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShelfLife)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductTypeName)
                </td>
                <td>
                    <div>
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Products",new {id=item.ProductId},Context.Request.Scheme)','Update Product')" class="btn btn-info text-white"><i class="fas fa-pencil-alt"></i> Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.ProductId" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                            <input type="hidden" asp-for="@item.ProductId" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="/js/site.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<br />
<form asp-controller="Products" asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="file" name="postedFile" id="productsfile" /><span id="fileMsg" style="color:red"></span>
    <br />
    <input type="submit" value="Upload Data" id="submit" class="btn btn-success" />
</form>

<div>
    @ViewBag.Success
</div>

@section scripts{
        <script>
            $(document).ready(function () {
                /* $('#productsTable').DataTable();*/
                //$(".content-wrapper").css("background-color", "transparent");
                //$("body:not(.layout-fixed) .main-sidebar").css({
                //    "height": "inherit",
                //    /* min-height: 100%; */
                //    "position": "absolute",
                //    "top": "0"
                //});

                //$(".main-sidebar").css({
                //    'margin-top': '3%',
                //    'background-color': 'black',
                //    'min-height': '88%'
                //});
            })
        </script>
    }
<br />

<figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
        
    </p>
</figure>
<script src="~/js/PMDashboard.js"></script>